@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,100italic,100,400italic,700,700italic);
body, html {
    background: url(../img/pw_pattern.png);
    border-radius:.3rem;
    font-family: 'Helvetica Neue', 'Open Sans', sans-serif;
}
.menu-header-default {
    background:#016EB3;
    border:1px solid #016EB3;
    border-radius:0;
}
.menu-header {
    background: #F04903;
    border:1px solid #F04903;
    border-radius:0;
}
.navbar-default .navbar-nav > li > a {
    color:#fff;
}
.navbar-default .navbar-nav > li > a:hover {
    background: #0180d0;
    color:#fff;
    text-shadow:0px 1px 5px rgba(0,0,0,0.5);
}
legend {
    border-bottom:0;
}
.info-balloon {
    color:#fff;
    padding:10px 15px;
}
.info-balloon h2 {
    color:#fff;
    padding:20px 3px;
    margin:0;
    text-align:center;
}
.school {
    background:#C10043;
}
.company {
    background:#016EB3;
}
.students {
    background:#CBD222;
}
.btn-default-outline {
    border:3px solid #fff;
    color:#fff;
    background:transparent;
}
.btn-default-outline:hover {
    color:#fff;
}
.error-message {
    font-weight:700;
    color:red;
}
article {
    border: 1px solid #e3e3e3;
    margin:5px 0;
    padding:10px;
    background:#f1f1f1;
}
article h1 {
    font-size:26px;
    margin:0;
    padding:5px;
}
.student-info {
    list-style-type:none;
    margin:0;
    padding:0;
}