body, html {
    background: url(../img/pw_pattern.png);
    border-radius:.3rem;
}
.menu-header-default {
    background:#016EB3;
    border:1px solid #016EB3;
    border-radius:0;
}
.menu-header-student {
    background: #C10043;
    border:1px solid #C10043;
    border-radius:0;
}
.navbar-default .navbar-nav > li > a {
    color:#fff;
}
.navbar-default .navbar-nav > li > a:hover {
    background: #0180d0;
    color:#fff;
    text-shadow:0px 1px 5px rgba(0,0,0,0.5);
}
legend {
    border-bottom:0;
}
.panel-heading:before {
    font-family: FontAwesome;
    content: "\f054 ";
    color:#999;
}
.info-balloon {
    color:#fff;
    padding:10px 15px;
}
.info-balloon h2 {
    color:#fff;
    padding:20px 3px;
    margin:0;
    text-align:center;
}
.school {
    background:#C10043;
}
.company {
    background:#016EB3;
}
.students {
    background:#CBD222;
}
.btn-default-outline {
    border:3px solid #fff;
    color:#fff;
    background:transparent;
}
.btn-default-outline:hover {
    color:#fff;
}
.error-message {
    font-weight:700;
    color:red;
}